<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.typemytype.robofont</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.MacRomanFirst</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.path</key>
	<string>/Users/erinmclaughlin/Desktop/_Google ROBOTO/Roboto/otf/Yantramanav-Bold.otf</string>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.layer0.layerStrokeColor</key>
	<array>
		<real>1.0</real>
		<real>0.75</real>
		<real>0.0</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.layer1.layerStrokeColor</key>
	<array>
		<real>1.0</real>
		<real>0.0</real>
		<real>0.0</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>layer1</string>
		<string>layer0</string>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>qcurve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>.notdef</string>
				<string>NULL</string>
				<string>nonmarkingreturn</string>
				<string>space</string>
				<string>omdeva</string>
				<string>ashortdeva</string>
				<string>adeva</string>
				<string>acandradeva</string>
				<string>aadeva</string>
				<string>ideva</string>
				<string>iideva</string>
				<string>iianusvaradeva</string>
				<string>udeva</string>
				<string>uudeva</string>
				<string>rvocalicdeva</string>
				<string>rrvocalicdeva</string>
				<string>lvocalicdeva</string>
				<string>llvocalicdeva</string>
				<string>ecandradeva</string>
				<string>edeva</string>
				<string>ecandraanusvaradeva</string>
				<string>eshortdeva</string>
				<string>aideva</string>
				<string>ocandradeva</string>
				<string>oshortdeva</string>
				<string>odeva</string>
				<string>audeva</string>
				<string>oedevaKSH</string>
				<string>ooedevaKSH</string>
				<string>awdevaKSH</string>
				<string>uedevaKSH</string>
				<string>uuedevaKSH</string>
				<string>kadeva</string>
				<string>qadeva</string>
				<string>khadeva</string>
				<string>khhadeva</string>
				<string>gadeva</string>
				<string>ghhadeva</string>
				<string>gabardeva</string>
				<string>ghadeva</string>
				<string>ngadeva</string>
				<string>cadeva</string>
				<string>chadeva</string>
				<string>jadeva</string>
				<string>zadeva</string>
				<string>jabardeva</string>
				<string>zhadeva</string>
				<string>jhadeva</string>
				<string>jhadevaNEP</string>
				<string>nyadeva</string>
				<string>ttadeva</string>
				<string>tthadeva</string>
				<string>ddadeva</string>
				<string>dddhadeva</string>
				<string>dddha2deva</string>
				<string>ddabardeva</string>
				<string>ddadevaMAW</string>
				<string>ddhadeva</string>
				<string>rhadeva</string>
				<string>rha2deva</string>
				<string>nnadeva</string>
				<string>tadeva</string>
				<string>thadeva</string>
				<string>dadeva</string>
				<string>dhadeva</string>
				<string>nadeva</string>
				<string>nnnadeva</string>
				<string>padeva</string>
				<string>phadeva</string>
				<string>fadeva</string>
				<string>badeva</string>
				<string>babardeva</string>
				<string>bhadeva</string>
				<string>madeva</string>
				<string>yadeva</string>
				<string>yyadeva</string>
				<string>jjyadeva</string>
				<string>radeva</string>
				<string>rradeva</string>
				<string>ladeva</string>
				<string>ladevaMAR</string>
				<string>lladeva</string>
				<string>llladeva</string>
				<string>vadeva</string>
				<string>shadeva</string>
				<string>shadevaMAR</string>
				<string>ssadeva</string>
				<string>sadeva</string>
				<string>hadeva</string>
				<string>aavowelsigndeva</string>
				<string>ivowelsigndeva</string>
				<string>ivowelsign01deva</string>
				<string>ivowelsign02deva</string>
				<string>ivowelsign03deva</string>
				<string>ivowelsign04deva</string>
				<string>ivowelsign05deva</string>
				<string>ivowelsign06deva</string>
				<string>ivowelsign07deva</string>
				<string>ivowelsign08deva</string>
				<string>ivowelsign09deva</string>
				<string>ivowelsign10deva</string>
				<string>ivowelsign11deva</string>
				<string>ivowelsign12deva</string>
				<string>ivowelsign13deva</string>
				<string>iivowelsigndeva</string>
				<string>iivowelsign4deva</string>
				<string>iivowelsign3deva</string>
				<string>ocandravowelsigndeva</string>
				<string>oshortvowelsigndeva</string>
				<string>ovowelsigndeva</string>
				<string>auvowelsigndeva</string>
				<string>prishthaevowelsign</string>
				<string>ooevowelsigndevaKSH</string>
				<string>awvowelsigndevaKSH</string>
				<string>uvowelsigndeva</string>
				<string>uuvowelsigndeva</string>
				<string>rvocalicvowelsigndeva</string>
				<string>rrvocalicvowelsigndeva</string>
				<string>viramadeva</string>
				<string>vattudeva</string>
				<string>lvocalicvowelsigndeva</string>
				<string>llvocalicvowelsigndeva</string>
				<string>uevowelsigndevaKSH</string>
				<string>uuevowelsigndevaKSH</string>
				<string>nuktadeva</string>
				<string>anudattadeva</string>
				<string>uvowelsignlowdeva</string>
				<string>uuvowelsignlowdeva</string>
				<string>rvocalicvowelsignlowdeva</string>
				<string>rrvocaliclowdeva</string>
				<string>lvocalicvowelsignlowdeva</string>
				<string>llvocalicvowelsignlowdeva</string>
				<string>viramalowdeva</string>
				<string>vattulowdeva</string>
				<string>udattadeva</string>
				<string>anusvaradeva</string>
				<string>anusvaradeva2</string>
				<string>candrabindudeva</string>
				<string>candrabindusmalldeva</string>
				<string>candralongevowelsigndeva</string>
				<string>invertedcandrabindu</string>
				<string>ecandravowelsigndeva</string>
				<string>eshortvowelsigndeva</string>
				<string>evowelsigndeva</string>
				<string>aivowelsigndeva</string>
				<string>oevowelsigndevaKSH</string>
				<string>rephdeva</string>
				<string>rephanusvaradeva</string>
				<string>uni0953</string>
				<string>uni0954</string>
				<string>uni02BC</string>
				<string>uni0971</string>
				<string>visargadeva</string>
				<string>avagrahadeva</string>
				<string>uni097D</string>
				<string>dandadeva</string>
				<string>dbldandadeva</string>
				<string>zerodeva</string>
				<string>onedeva</string>
				<string>onedevaNEP</string>
				<string>twodeva</string>
				<string>threedeva</string>
				<string>fourdeva</string>
				<string>fivedeva</string>
				<string>fivedevaNEP</string>
				<string>sixdeva</string>
				<string>sevendeva</string>
				<string>eightdeva</string>
				<string>eightdevaNEP</string>
				<string>ninedeva</string>
				<string>ninedevaNEP</string>
				<string>abbreviationsigndeva</string>
				<string>uni200C</string>
				<string>uni200D</string>
				<string>uni25CC</string>
				<string>kaprehalfdeva</string>
				<string>khaprehalfdeva</string>
				<string>gaprehalfdeva</string>
				<string>ghaprehalfdeva</string>
				<string>ngaprehalfdeva</string>
				<string>caprehalfdeva</string>
				<string>chaprehalfdeva</string>
				<string>japrehalfdeva</string>
				<string>jhaprehalfdeva</string>
				<string>jhaprehalfdevaNEP</string>
				<string>nyaprehalfdeva</string>
				<string>ttaprehalfdeva</string>
				<string>tthaprehalfdeva</string>
				<string>ddaprehalfdeva</string>
				<string>ddhaprehalfdeva</string>
				<string>nnaprehalfdeva</string>
				<string>taprehalfdeva</string>
				<string>thaprehalfdeva</string>
				<string>daprehalfdeva</string>
				<string>dhaprehalfdeva</string>
				<string>naprehalfdeva</string>
				<string>paprehalfdeva</string>
				<string>phaprehalfdeva</string>
				<string>baprehalfdeva</string>
				<string>bhaprehalfdeva</string>
				<string>maprehalfdeva</string>
				<string>yaprehalfdeva</string>
				<string>raprehalfdeva</string>
				<string>rahalantdeva</string>
				<string>laprehalfdeva</string>
				<string>llaprehalfdeva</string>
				<string>vaprehalfdeva</string>
				<string>shaprehalfdeva</string>
				<string>shaprehalfdevaMAR</string>
				<string>ssaprehalfdeva</string>
				<string>saprehalfdeva</string>
				<string>haprehalfdeva</string>
				<string>kassaprehalfdeva</string>
				<string>janyaprehalfdeva</string>
				<string>kanuktaprehalfdeva</string>
				<string>khanuktaprehalfdeva</string>
				<string>ganuktaprehalfdeva</string>
				<string>januktaprehalfdeva</string>
				<string>ddanuktaprehalfdeva</string>
				<string>ddhanuktaprehalfdeva</string>
				<string>nanuktaprehalfdeva</string>
				<string>phanuktaprehalfdeva</string>
				<string>yanuktaprehalfdeva</string>
				<string>ranuktaprehalfdeva</string>
				<string>llanuktaprehalfdeva</string>
				<string>karadeva</string>
				<string>kharadeva</string>
				<string>garadeva</string>
				<string>gharadeva</string>
				<string>ngaradeva</string>
				<string>caradeva</string>
				<string>charadeva</string>
				<string>jaradeva</string>
				<string>jharadeva</string>
				<string>jharadevaNEP</string>
				<string>nyaradeva</string>
				<string>ttaradeva</string>
				<string>ttharadeva</string>
				<string>ddaradeva</string>
				<string>ddharadeva</string>
				<string>nnaradeva</string>
				<string>taradeva</string>
				<string>tharadeva</string>
				<string>daradeva</string>
				<string>dharadeva</string>
				<string>naradeva</string>
				<string>paradeva</string>
				<string>pharadeva</string>
				<string>baradeva</string>
				<string>bharadeva</string>
				<string>maradeva</string>
				<string>yaradeva</string>
				<string>raradeva</string>
				<string>laradeva</string>
				<string>laradevaMAR</string>
				<string>llaradeva</string>
				<string>varadeva</string>
				<string>sharadeva</string>
				<string>ssaradeva</string>
				<string>saradeva</string>
				<string>haradeva</string>
				<string>kassaradeva</string>
				<string>janyaradeva</string>
				<string>kanuktaradeva</string>
				<string>khanuktaradeva</string>
				<string>ganuktaradeva</string>
				<string>januktaradeva</string>
				<string>ddanuktaradeva</string>
				<string>ddhanuktaradeva</string>
				<string>nanuktaradeva</string>
				<string>phanuktaradeva</string>
				<string>yanuktaradeva</string>
				<string>ranuktaradeva</string>
				<string>llanuktaradeva</string>
				<string>karaprehalfdeva</string>
				<string>kharaprehalfdeva</string>
				<string>garaprehalfdeva</string>
				<string>gharaprehalfdeva</string>
				<string>ngaraprehalfdeva</string>
				<string>caraprehalfdeva</string>
				<string>charaprehalfdeva</string>
				<string>jaraprehalfdeva</string>
				<string>jharaprehalfdeva</string>
				<string>jharaprehalfdevaNEP</string>
				<string>nyaraprehalfdeva</string>
				<string>ttaraprehalfdeva</string>
				<string>ttharaprehalfdeva</string>
				<string>ddaraprehalfdeva</string>
				<string>ddharaprehalfdeva</string>
				<string>nnaraprehalfdeva</string>
				<string>taraprehalfdeva</string>
				<string>tharaprehalfdeva</string>
				<string>daraprehalfdeva</string>
				<string>dharaprehalfdeva</string>
				<string>naraprehalfdeva</string>
				<string>paraprehalfdeva</string>
				<string>pharaprehalfdeva</string>
				<string>baraprehalfdeva</string>
				<string>bharaprehalfdeva</string>
				<string>maraprehalfdeva</string>
				<string>yaraprehalfdeva</string>
				<string>raraprehalfdeva</string>
				<string>laraprehalfdeva</string>
				<string>llaraprehalfdeva</string>
				<string>varaprehalfdeva</string>
				<string>sharaprehalfdeva</string>
				<string>ssaraprehalfdeva</string>
				<string>saraprehalfdeva</string>
				<string>haraprehalfdeva</string>
				<string>kassaraprehalfdeva</string>
				<string>janyaraprehalfdeva</string>
				<string>kanuktaraprehalfdeva</string>
				<string>khanuktaraprehalfdeva</string>
				<string>ganuktaraprehalfdeva</string>
				<string>januktaraprehalfdeva</string>
				<string>ddanuktaraprehalfdeva</string>
				<string>ddhanuktaraprehalfdeva</string>
				<string>nanuktaraprehalfdeva</string>
				<string>phanuktaraprehalfdeva</string>
				<string>yanuktaraprehalfdeva</string>
				<string>ranuktaraprehalfdeva</string>
				<string>llanuktaraprehalfdeva</string>
				<string>haudeva</string>
				<string>hauudeva</string>
				<string>harvocalicdeva</string>
				<string>harrvocalicdeva</string>
				<string>haraudeva</string>
				<string>harauudeva</string>
				<string>raudeva</string>
				<string>rauudeva</string>
				<string>ranuktaudeva</string>
				<string>ranuktauudeva</string>
				<string>daudeva</string>
				<string>dauudeva</string>
				<string>darvocalicdeva</string>
				<string>kassadeva</string>
				<string>janyadeva</string>
				<string>katadeva</string>
				<string>tatadeva</string>
				<string>ngayadeva</string>
				<string>chayadeva</string>
				<string>ttattadeva</string>
				<string>ttatthadeva</string>
				<string>ttayadeva</string>
				<string>ttavadeva</string>
				<string>tthatthadeva</string>
				<string>tthayadeva</string>
				<string>ddaddhadeva</string>
				<string>ddaddadeva</string>
				<string>ddayadeva</string>
				<string>ddhaddhadeva</string>
				<string>ddhayadeva</string>
				<string>tataprehalfdeva</string>
				<string>daghadeva</string>
				<string>dagadeva</string>
				<string>dabadeva</string>
				<string>dabhadeva</string>
				<string>davadeva</string>
				<string>dadhadeva</string>
				<string>dadhayadeva</string>
				<string>dadadeva</string>
				<string>damadeva</string>
				<string>dayadeva</string>
				<string>dayaprehalfdeva</string>
				<string>ssattadeva</string>
				<string>ssatthadeva</string>
				<string>hannadeva</string>
				<string>hanadeva</string>
				<string>hamadeva</string>
				<string>hayadeva</string>
				<string>haladeva</string>
				<string>havadeva</string>
				<string>dummymarkdeva</string>
				<string>uni20B9.deva</string>
				<string>uni20B9</string>
				<string>uni200B</string>
				<string>exclam</string>
				<string>quotedbl</string>
				<string>numbersign</string>
				<string>dollar</string>
				<string>percent</string>
				<string>ampersand</string>
				<string>quotesingle</string>
				<string>parenleft</string>
				<string>parenright</string>
				<string>asterisk</string>
				<string>plus</string>
				<string>comma</string>
				<string>hyphen</string>
				<string>period</string>
				<string>slash</string>
				<string>zero</string>
				<string>one</string>
				<string>two</string>
				<string>three</string>
				<string>four</string>
				<string>five</string>
				<string>six</string>
				<string>seven</string>
				<string>eight</string>
				<string>nine</string>
				<string>colon</string>
				<string>semicolon</string>
				<string>less</string>
				<string>equal</string>
				<string>greater</string>
				<string>question</string>
				<string>at</string>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>D</string>
				<string>E</string>
				<string>F</string>
				<string>G</string>
				<string>H</string>
				<string>I</string>
				<string>J</string>
				<string>K</string>
				<string>L</string>
				<string>M</string>
				<string>N</string>
				<string>O</string>
				<string>P</string>
				<string>Q</string>
				<string>R</string>
				<string>S</string>
				<string>T</string>
				<string>U</string>
				<string>V</string>
				<string>W</string>
				<string>X</string>
				<string>Y</string>
				<string>Z</string>
				<string>bracketleft</string>
				<string>backslash</string>
				<string>bracketright</string>
				<string>asciicircum</string>
				<string>underscore</string>
				<string>grave</string>
				<string>a</string>
				<string>b</string>
				<string>c</string>
				<string>d</string>
				<string>e</string>
				<string>f</string>
				<string>g</string>
				<string>h</string>
				<string>i</string>
				<string>j</string>
				<string>k</string>
				<string>l</string>
				<string>m</string>
				<string>n</string>
				<string>o</string>
				<string>p</string>
				<string>q</string>
				<string>r</string>
				<string>s</string>
				<string>t</string>
				<string>u</string>
				<string>v</string>
				<string>w</string>
				<string>x</string>
				<string>y</string>
				<string>z</string>
				<string>braceleft</string>
				<string>bar</string>
				<string>braceright</string>
				<string>asciitilde</string>
				<string>uni00A0</string>
				<string>exclamdown</string>
				<string>cent</string>
				<string>sterling</string>
				<string>currency</string>
				<string>yen</string>
				<string>brokenbar</string>
				<string>section</string>
				<string>dieresis</string>
				<string>copyright</string>
				<string>ordfeminine</string>
				<string>guillemotleft</string>
				<string>logicalnot</string>
				<string>uni00AD</string>
				<string>registered</string>
				<string>macron</string>
				<string>degree</string>
				<string>plusminus</string>
				<string>acute</string>
				<string>uni00B5</string>
				<string>paragraph</string>
				<string>periodcentered</string>
				<string>cedilla</string>
				<string>ordmasculine</string>
				<string>guillemotright</string>
				<string>onequarter</string>
				<string>onehalf</string>
				<string>threequarters</string>
				<string>questiondown</string>
				<string>Agrave</string>
				<string>Aacute</string>
				<string>Acircumflex</string>
				<string>Atilde</string>
				<string>Adieresis</string>
				<string>Aring</string>
				<string>AE</string>
				<string>Ccedilla</string>
				<string>Egrave</string>
				<string>Eacute</string>
				<string>Ecircumflex</string>
				<string>Edieresis</string>
				<string>Igrave</string>
				<string>Iacute</string>
				<string>Icircumflex</string>
				<string>Idieresis</string>
				<string>Eth</string>
				<string>Ntilde</string>
				<string>Ograve</string>
				<string>Oacute</string>
				<string>Ocircumflex</string>
				<string>Otilde</string>
				<string>Odieresis</string>
				<string>multiply</string>
				<string>Oslash</string>
				<string>Ugrave</string>
				<string>Uacute</string>
				<string>Ucircumflex</string>
				<string>Udieresis</string>
				<string>Yacute</string>
				<string>Thorn</string>
				<string>germandbls</string>
				<string>agrave</string>
				<string>aacute</string>
				<string>acircumflex</string>
				<string>atilde</string>
				<string>adieresis</string>
				<string>aring</string>
				<string>ae</string>
				<string>ccedilla</string>
				<string>egrave</string>
				<string>eacute</string>
				<string>ecircumflex</string>
				<string>edieresis</string>
				<string>igrave</string>
				<string>iacute</string>
				<string>icircumflex</string>
				<string>idieresis</string>
				<string>eth</string>
				<string>ntilde</string>
				<string>ograve</string>
				<string>oacute</string>
				<string>ocircumflex</string>
				<string>otilde</string>
				<string>odieresis</string>
				<string>divide</string>
				<string>oslash</string>
				<string>ugrave</string>
				<string>uacute</string>
				<string>ucircumflex</string>
				<string>udieresis</string>
				<string>yacute</string>
				<string>thorn</string>
				<string>ydieresis</string>
				<string>Amacron</string>
				<string>amacron</string>
				<string>Abreve</string>
				<string>abreve</string>
				<string>Aogonek</string>
				<string>aogonek</string>
				<string>Cacute</string>
				<string>cacute</string>
				<string>Ccaron</string>
				<string>ccaron</string>
				<string>Dcaron</string>
				<string>dcaron</string>
				<string>Dcroat</string>
				<string>dcroat</string>
				<string>Emacron</string>
				<string>emacron</string>
				<string>Edotaccent</string>
				<string>edotaccent</string>
				<string>Eogonek</string>
				<string>eogonek</string>
				<string>Ecaron</string>
				<string>ecaron</string>
				<string>Gbreve</string>
				<string>gbreve</string>
				<string>Gcommaaccent</string>
				<string>gcommaaccent</string>
				<string>Imacron</string>
				<string>imacron</string>
				<string>Iogonek</string>
				<string>iogonek</string>
				<string>Idotaccent</string>
				<string>dotlessi</string>
				<string>Kcommaaccent</string>
				<string>kcommaaccent</string>
				<string>Lacute</string>
				<string>lacute</string>
				<string>Lcommaaccent</string>
				<string>lcommaaccent</string>
				<string>Lcaron</string>
				<string>lcaron</string>
				<string>Lslash</string>
				<string>lslash</string>
				<string>Nacute</string>
				<string>nacute</string>
				<string>Ncommaaccent</string>
				<string>ncommaaccent</string>
				<string>Ncaron</string>
				<string>ncaron</string>
				<string>Omacron</string>
				<string>omacron</string>
				<string>Ohungarumlaut</string>
				<string>ohungarumlaut</string>
				<string>OE</string>
				<string>oe</string>
				<string>Racute</string>
				<string>racute</string>
				<string>Rcommaaccent</string>
				<string>rcommaaccent</string>
				<string>Rcaron</string>
				<string>rcaron</string>
				<string>Sacute</string>
				<string>sacute</string>
				<string>Scaron</string>
				<string>scaron</string>
				<string>Tcaron</string>
				<string>tcaron</string>
				<string>Umacron</string>
				<string>umacron</string>
				<string>Uring</string>
				<string>uring</string>
				<string>Uhungarumlaut</string>
				<string>uhungarumlaut</string>
				<string>Uogonek</string>
				<string>uogonek</string>
				<string>Ydieresis</string>
				<string>Zacute</string>
				<string>zacute</string>
				<string>Zdotaccent</string>
				<string>zdotaccent</string>
				<string>Zcaron</string>
				<string>zcaron</string>
				<string>florin</string>
				<string>uni021A</string>
				<string>uni021B</string>
				<string>circumflex</string>
				<string>caron</string>
				<string>uni02C9</string>
				<string>breve</string>
				<string>dotaccent</string>
				<string>ring</string>
				<string>ogonek</string>
				<string>tilde</string>
				<string>hungarumlaut</string>
				<string>pi</string>
				<string>endash</string>
				<string>emdash</string>
				<string>quoteleft</string>
				<string>quoteright</string>
				<string>quotesinglbase</string>
				<string>quotedblleft</string>
				<string>quotedblright</string>
				<string>quotedblbase</string>
				<string>dagger</string>
				<string>daggerdbl</string>
				<string>bullet</string>
				<string>ellipsis</string>
				<string>perthousand</string>
				<string>guilsinglleft</string>
				<string>guilsinglright</string>
				<string>fraction</string>
				<string>Euro</string>
				<string>uni20BA</string>
				<string>uni20BD</string>
				<string>trademark</string>
				<string>estimated</string>
				<string>partialdiff</string>
				<string>product</string>
				<string>summation</string>
				<string>minus</string>
				<string>radical</string>
				<string>infinity</string>
				<string>integral</string>
				<string>approxequal</string>
				<string>notequal</string>
				<string>lessequal</string>
				<string>greaterequal</string>
				<string>lozenge</string>
				<string>nonbreakingspace</string>
				<string>afii00208</string>
				<string>iivowelsignanusvara2deva</string>
				<string>iivowelsignrephanusvaradeva</string>
				<string>vattuviramalowdeva</string>
				<string>ovowelsignanusvaradeva</string>
				<string>vatturrvocalicdeva</string>
				<string>evowelsigncandrabindudeva</string>
				<string>namadeva</string>
				<string>vatturvocalicdeva</string>
				<string>vatturvocaliclowdeva</string>
				<string>layadeva</string>
				<string>vattuuulowdeva</string>
				<string>lazadeva</string>
				<string>eshortvowelsignrephdeva</string>
				<string>auanusvaradeva</string>
				<string>tayadeva</string>
				<string>ashortanusvaradeva</string>
				<string>auvowelsignrephdeva</string>
				<string>oshortvowelsignanusvaradeva</string>
				<string>iivowelcandrabindu3deva</string>
				<string>iivowelsignreph4deva</string>
				<string>ovowelsigncandrabindudeva</string>
				<string>oshortvowelsignrephdeva</string>
				<string>ecandravowelsigncandrabindudeva</string>
				<string>ocandravowelsignrephdeva</string>
				<string>evowelsignrephanusvaradeva</string>
				<string>jayadeva</string>
				<string>iivowelsignrephdeva</string>
				<string>ecandravowelsignanusvaradeva</string>
				<string>iivowelcandrabindu2deva</string>
				<string>iivowelcandrabindu4deva</string>
				<string>januktasadeva</string>
				<string>lathadeva</string>
				<string>aivowelsignrephanusvaradeva</string>
				<string>aianusvaradeva</string>
				<string>eshortanusvaradeva</string>
				<string>takhadeva</string>
				<string>ocandraanusvaradeva</string>
				<string>vattuviramadeva</string>
				<string>vattulvocalicdeva</string>
				<string>vattuuudeva</string>
				<string>auvowelsignrephanusvaradeva</string>
				<string>oshortvowelsigncandrabindudeva</string>
				<string>oshortanusvaradeva</string>
				<string>evowelsignrephdeva</string>
				<string>nabhadeva</string>
				<string>eshortvowelsigncandrabindudeva</string>
				<string>aivowelsignrephdeva</string>
				<string>iivowelsignrephanusvara4deva</string>
				<string>oanusvaradeva</string>
				<string>eshortvowelsignanusvaradeva</string>
				<string>iivowelsignanusvara4deva</string>
				<string>tathadeva</string>
				<string>labhadeva</string>
				<string>jasadeva</string>
				<string>eshortvowelsignrephanusdeva</string>
				<string>iivowelsignanusvara3deva</string>
				<string>aivowelsigncandrabindudeva</string>
				<string>ecandravowelsignrephdeva</string>
				<string>tanadeva</string>
				<string>vattuulowdeva</string>
				<string>vattuudeva</string>
				<string>iivowelsign2deva</string>
				<string>lajadeva</string>
				<string>auvowelsigncandrabindudeva</string>
				<string>iivowelsignanusvaradeva</string>
				<string>iivowelcandrabindudeva</string>
				<string>januktayadeva</string>
				<string>ocandravowelsignanusvaradeva</string>
				<string>jathadeva</string>
				<string>iivowelsignreph3deva</string>
				<string>lamadeva</string>
				<string>ocandravowelsignrephanusdeva</string>
				<string>iivowelsignrephanusvara3deva</string>
				<string>jajadeva</string>
				<string>evowelsignanusvaradeva</string>
				<string>iivowelsignrephanusvara2deva</string>
				<string>auvowelsignanusvaradeva</string>
				<string>vattullvocalicdeva</string>
				<string>ovowelsignrephanusvaradeva</string>
				<string>oshortvowelsignrephanusdeva</string>
				<string>ecandravowelsignrephanusdeva</string>
				<string>iivowelsignreph2deva</string>
				<string>aivowelsignanusvaradeva</string>
				<string>ocandravowelsigncandrabindudeva</string>
				<string>acandraanusvaradeva</string>
				<string>ovowelsignrephdeva</string>
				<string>tasadeva</string>
				<string>januktathadeva</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>NULL</string>
		<string>nonmarkingreturn</string>
		<string>space</string>
		<string>omdeva</string>
		<string>ashortdeva</string>
		<string>adeva</string>
		<string>acandradeva</string>
		<string>aadeva</string>
		<string>ideva</string>
		<string>iideva</string>
		<string>iianusvaradeva</string>
		<string>udeva</string>
		<string>uudeva</string>
		<string>rvocalicdeva</string>
		<string>rrvocalicdeva</string>
		<string>lvocalicdeva</string>
		<string>llvocalicdeva</string>
		<string>ecandradeva</string>
		<string>edeva</string>
		<string>ecandraanusvaradeva</string>
		<string>eshortdeva</string>
		<string>aideva</string>
		<string>ocandradeva</string>
		<string>oshortdeva</string>
		<string>odeva</string>
		<string>audeva</string>
		<string>oedevaKSH</string>
		<string>ooedevaKSH</string>
		<string>awdevaKSH</string>
		<string>uedevaKSH</string>
		<string>uuedevaKSH</string>
		<string>kadeva</string>
		<string>qadeva</string>
		<string>khadeva</string>
		<string>khhadeva</string>
		<string>gadeva</string>
		<string>ghhadeva</string>
		<string>gabardeva</string>
		<string>ghadeva</string>
		<string>ngadeva</string>
		<string>cadeva</string>
		<string>chadeva</string>
		<string>jadeva</string>
		<string>zadeva</string>
		<string>jabardeva</string>
		<string>zhadeva</string>
		<string>jhadeva</string>
		<string>jhadevaNEP</string>
		<string>nyadeva</string>
		<string>ttadeva</string>
		<string>tthadeva</string>
		<string>ddadeva</string>
		<string>dddhadeva</string>
		<string>dddha2deva</string>
		<string>ddabardeva</string>
		<string>ddadevaMAW</string>
		<string>ddhadeva</string>
		<string>rhadeva</string>
		<string>rha2deva</string>
		<string>nnadeva</string>
		<string>tadeva</string>
		<string>thadeva</string>
		<string>dadeva</string>
		<string>dhadeva</string>
		<string>nadeva</string>
		<string>nnnadeva</string>
		<string>padeva</string>
		<string>phadeva</string>
		<string>fadeva</string>
		<string>badeva</string>
		<string>babardeva</string>
		<string>bhadeva</string>
		<string>madeva</string>
		<string>yadeva</string>
		<string>yyadeva</string>
		<string>jjyadeva</string>
		<string>radeva</string>
		<string>rradeva</string>
		<string>ladeva</string>
		<string>ladevaMAR</string>
		<string>lladeva</string>
		<string>llladeva</string>
		<string>vadeva</string>
		<string>shadeva</string>
		<string>shadevaMAR</string>
		<string>ssadeva</string>
		<string>sadeva</string>
		<string>hadeva</string>
		<string>aavowelsigndeva</string>
		<string>ivowelsigndeva</string>
		<string>ivowelsign01deva</string>
		<string>ivowelsign02deva</string>
		<string>ivowelsign03deva</string>
		<string>ivowelsign04deva</string>
		<string>ivowelsign05deva</string>
		<string>ivowelsign06deva</string>
		<string>ivowelsign07deva</string>
		<string>ivowelsign08deva</string>
		<string>ivowelsign09deva</string>
		<string>ivowelsign10deva</string>
		<string>ivowelsign11deva</string>
		<string>ivowelsign12deva</string>
		<string>ivowelsign13deva</string>
		<string>iivowelsigndeva</string>
		<string>iivowelsign4deva</string>
		<string>iivowelsign3deva</string>
		<string>ocandravowelsigndeva</string>
		<string>oshortvowelsigndeva</string>
		<string>ovowelsigndeva</string>
		<string>auvowelsigndeva</string>
		<string>prishthaevowelsign</string>
		<string>ooevowelsigndevaKSH</string>
		<string>awvowelsigndevaKSH</string>
		<string>uvowelsigndeva</string>
		<string>uuvowelsigndeva</string>
		<string>rvocalicvowelsigndeva</string>
		<string>rrvocalicvowelsigndeva</string>
		<string>viramadeva</string>
		<string>vattudeva</string>
		<string>lvocalicvowelsigndeva</string>
		<string>llvocalicvowelsigndeva</string>
		<string>uevowelsigndevaKSH</string>
		<string>uuevowelsigndevaKSH</string>
		<string>nuktadeva</string>
		<string>anudattadeva</string>
		<string>uvowelsignlowdeva</string>
		<string>uuvowelsignlowdeva</string>
		<string>rvocalicvowelsignlowdeva</string>
		<string>rrvocaliclowdeva</string>
		<string>lvocalicvowelsignlowdeva</string>
		<string>llvocalicvowelsignlowdeva</string>
		<string>viramalowdeva</string>
		<string>vattulowdeva</string>
		<string>udattadeva</string>
		<string>anusvaradeva</string>
		<string>anusvaradeva2</string>
		<string>candrabindudeva</string>
		<string>candrabindusmalldeva</string>
		<string>candralongevowelsigndeva</string>
		<string>invertedcandrabindu</string>
		<string>ecandravowelsigndeva</string>
		<string>eshortvowelsigndeva</string>
		<string>evowelsigndeva</string>
		<string>aivowelsigndeva</string>
		<string>oevowelsigndevaKSH</string>
		<string>rephdeva</string>
		<string>rephanusvaradeva</string>
		<string>uni0953</string>
		<string>uni0954</string>
		<string>uni02BC</string>
		<string>uni0971</string>
		<string>visargadeva</string>
		<string>avagrahadeva</string>
		<string>uni097D</string>
		<string>dandadeva</string>
		<string>dbldandadeva</string>
		<string>zerodeva</string>
		<string>onedeva</string>
		<string>onedevaNEP</string>
		<string>twodeva</string>
		<string>threedeva</string>
		<string>fourdeva</string>
		<string>fivedeva</string>
		<string>fivedevaNEP</string>
		<string>sixdeva</string>
		<string>sevendeva</string>
		<string>eightdeva</string>
		<string>eightdevaNEP</string>
		<string>ninedeva</string>
		<string>ninedevaNEP</string>
		<string>abbreviationsigndeva</string>
		<string>uni200C</string>
		<string>uni200D</string>
		<string>uni25CC</string>
		<string>kaprehalfdeva</string>
		<string>khaprehalfdeva</string>
		<string>gaprehalfdeva</string>
		<string>ghaprehalfdeva</string>
		<string>ngaprehalfdeva</string>
		<string>caprehalfdeva</string>
		<string>chaprehalfdeva</string>
		<string>japrehalfdeva</string>
		<string>jhaprehalfdeva</string>
		<string>jhaprehalfdevaNEP</string>
		<string>nyaprehalfdeva</string>
		<string>ttaprehalfdeva</string>
		<string>tthaprehalfdeva</string>
		<string>ddaprehalfdeva</string>
		<string>ddhaprehalfdeva</string>
		<string>nnaprehalfdeva</string>
		<string>taprehalfdeva</string>
		<string>thaprehalfdeva</string>
		<string>daprehalfdeva</string>
		<string>dhaprehalfdeva</string>
		<string>naprehalfdeva</string>
		<string>paprehalfdeva</string>
		<string>phaprehalfdeva</string>
		<string>baprehalfdeva</string>
		<string>bhaprehalfdeva</string>
		<string>maprehalfdeva</string>
		<string>yaprehalfdeva</string>
		<string>raprehalfdeva</string>
		<string>rahalantdeva</string>
		<string>laprehalfdeva</string>
		<string>llaprehalfdeva</string>
		<string>vaprehalfdeva</string>
		<string>shaprehalfdeva</string>
		<string>shaprehalfdevaMAR</string>
		<string>ssaprehalfdeva</string>
		<string>saprehalfdeva</string>
		<string>haprehalfdeva</string>
		<string>kassaprehalfdeva</string>
		<string>janyaprehalfdeva</string>
		<string>kanuktaprehalfdeva</string>
		<string>khanuktaprehalfdeva</string>
		<string>ganuktaprehalfdeva</string>
		<string>januktaprehalfdeva</string>
		<string>ddanuktaprehalfdeva</string>
		<string>ddhanuktaprehalfdeva</string>
		<string>nanuktaprehalfdeva</string>
		<string>phanuktaprehalfdeva</string>
		<string>yanuktaprehalfdeva</string>
		<string>ranuktaprehalfdeva</string>
		<string>llanuktaprehalfdeva</string>
		<string>karadeva</string>
		<string>kharadeva</string>
		<string>garadeva</string>
		<string>gharadeva</string>
		<string>ngaradeva</string>
		<string>caradeva</string>
		<string>charadeva</string>
		<string>jaradeva</string>
		<string>jharadeva</string>
		<string>jharadevaNEP</string>
		<string>nyaradeva</string>
		<string>ttaradeva</string>
		<string>ttharadeva</string>
		<string>ddaradeva</string>
		<string>ddharadeva</string>
		<string>nnaradeva</string>
		<string>taradeva</string>
		<string>tharadeva</string>
		<string>daradeva</string>
		<string>dharadeva</string>
		<string>naradeva</string>
		<string>paradeva</string>
		<string>pharadeva</string>
		<string>baradeva</string>
		<string>bharadeva</string>
		<string>maradeva</string>
		<string>yaradeva</string>
		<string>raradeva</string>
		<string>laradeva</string>
		<string>laradevaMAR</string>
		<string>llaradeva</string>
		<string>varadeva</string>
		<string>sharadeva</string>
		<string>ssaradeva</string>
		<string>saradeva</string>
		<string>haradeva</string>
		<string>kassaradeva</string>
		<string>janyaradeva</string>
		<string>kanuktaradeva</string>
		<string>khanuktaradeva</string>
		<string>ganuktaradeva</string>
		<string>januktaradeva</string>
		<string>ddanuktaradeva</string>
		<string>ddhanuktaradeva</string>
		<string>nanuktaradeva</string>
		<string>phanuktaradeva</string>
		<string>yanuktaradeva</string>
		<string>ranuktaradeva</string>
		<string>llanuktaradeva</string>
		<string>karaprehalfdeva</string>
		<string>kharaprehalfdeva</string>
		<string>garaprehalfdeva</string>
		<string>gharaprehalfdeva</string>
		<string>ngaraprehalfdeva</string>
		<string>caraprehalfdeva</string>
		<string>charaprehalfdeva</string>
		<string>jaraprehalfdeva</string>
		<string>jharaprehalfdeva</string>
		<string>jharaprehalfdevaNEP</string>
		<string>nyaraprehalfdeva</string>
		<string>ttaraprehalfdeva</string>
		<string>ttharaprehalfdeva</string>
		<string>ddaraprehalfdeva</string>
		<string>ddharaprehalfdeva</string>
		<string>nnaraprehalfdeva</string>
		<string>taraprehalfdeva</string>
		<string>tharaprehalfdeva</string>
		<string>daraprehalfdeva</string>
		<string>dharaprehalfdeva</string>
		<string>naraprehalfdeva</string>
		<string>paraprehalfdeva</string>
		<string>pharaprehalfdeva</string>
		<string>baraprehalfdeva</string>
		<string>bharaprehalfdeva</string>
		<string>maraprehalfdeva</string>
		<string>yaraprehalfdeva</string>
		<string>raraprehalfdeva</string>
		<string>laraprehalfdeva</string>
		<string>llaraprehalfdeva</string>
		<string>varaprehalfdeva</string>
		<string>sharaprehalfdeva</string>
		<string>ssaraprehalfdeva</string>
		<string>saraprehalfdeva</string>
		<string>haraprehalfdeva</string>
		<string>kassaraprehalfdeva</string>
		<string>janyaraprehalfdeva</string>
		<string>kanuktaraprehalfdeva</string>
		<string>khanuktaraprehalfdeva</string>
		<string>ganuktaraprehalfdeva</string>
		<string>januktaraprehalfdeva</string>
		<string>ddanuktaraprehalfdeva</string>
		<string>ddhanuktaraprehalfdeva</string>
		<string>nanuktaraprehalfdeva</string>
		<string>phanuktaraprehalfdeva</string>
		<string>yanuktaraprehalfdeva</string>
		<string>ranuktaraprehalfdeva</string>
		<string>llanuktaraprehalfdeva</string>
		<string>haudeva</string>
		<string>hauudeva</string>
		<string>harvocalicdeva</string>
		<string>harrvocalicdeva</string>
		<string>haraudeva</string>
		<string>harauudeva</string>
		<string>raudeva</string>
		<string>rauudeva</string>
		<string>ranuktaudeva</string>
		<string>ranuktauudeva</string>
		<string>daudeva</string>
		<string>dauudeva</string>
		<string>darvocalicdeva</string>
		<string>kassadeva</string>
		<string>janyadeva</string>
		<string>katadeva</string>
		<string>tatadeva</string>
		<string>ngayadeva</string>
		<string>chayadeva</string>
		<string>ttattadeva</string>
		<string>ttatthadeva</string>
		<string>ttayadeva</string>
		<string>ttavadeva</string>
		<string>tthatthadeva</string>
		<string>tthayadeva</string>
		<string>ddaddhadeva</string>
		<string>ddaddadeva</string>
		<string>ddayadeva</string>
		<string>ddhaddhadeva</string>
		<string>ddhayadeva</string>
		<string>tataprehalfdeva</string>
		<string>daghadeva</string>
		<string>dagadeva</string>
		<string>dabadeva</string>
		<string>dabhadeva</string>
		<string>davadeva</string>
		<string>dadhadeva</string>
		<string>dadhayadeva</string>
		<string>dadadeva</string>
		<string>damadeva</string>
		<string>dayadeva</string>
		<string>dayaprehalfdeva</string>
		<string>ssattadeva</string>
		<string>ssatthadeva</string>
		<string>hannadeva</string>
		<string>hanadeva</string>
		<string>hamadeva</string>
		<string>hayadeva</string>
		<string>haladeva</string>
		<string>havadeva</string>
		<string>dummymarkdeva</string>
		<string>uni20B9.deva</string>
		<string>uni20B9</string>
		<string>uni200B</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>uni00A0</string>
		<string>exclamdown</string>
		<string>cent</string>
		<string>sterling</string>
		<string>currency</string>
		<string>yen</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>dieresis</string>
		<string>copyright</string>
		<string>ordfeminine</string>
		<string>guillemotleft</string>
		<string>logicalnot</string>
		<string>uni00AD</string>
		<string>registered</string>
		<string>macron</string>
		<string>degree</string>
		<string>plusminus</string>
		<string>acute</string>
		<string>uni00B5</string>
		<string>paragraph</string>
		<string>periodcentered</string>
		<string>cedilla</string>
		<string>ordmasculine</string>
		<string>guillemotright</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>questiondown</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>AE</string>
		<string>Ccedilla</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Eth</string>
		<string>Ntilde</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>multiply</string>
		<string>Oslash</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Yacute</string>
		<string>Thorn</string>
		<string>germandbls</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>ae</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>eth</string>
		<string>ntilde</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>divide</string>
		<string>oslash</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>yacute</string>
		<string>thorn</string>
		<string>ydieresis</string>
		<string>Amacron</string>
		<string>amacron</string>
		<string>Abreve</string>
		<string>abreve</string>
		<string>Aogonek</string>
		<string>aogonek</string>
		<string>Cacute</string>
		<string>cacute</string>
		<string>Ccaron</string>
		<string>ccaron</string>
		<string>Dcaron</string>
		<string>dcaron</string>
		<string>Dcroat</string>
		<string>dcroat</string>
		<string>Emacron</string>
		<string>emacron</string>
		<string>Edotaccent</string>
		<string>edotaccent</string>
		<string>Eogonek</string>
		<string>eogonek</string>
		<string>Ecaron</string>
		<string>ecaron</string>
		<string>Gbreve</string>
		<string>gbreve</string>
		<string>Gcommaaccent</string>
		<string>gcommaaccent</string>
		<string>Imacron</string>
		<string>imacron</string>
		<string>Iogonek</string>
		<string>iogonek</string>
		<string>Idotaccent</string>
		<string>dotlessi</string>
		<string>Kcommaaccent</string>
		<string>kcommaaccent</string>
		<string>Lacute</string>
		<string>lacute</string>
		<string>Lcommaaccent</string>
		<string>lcommaaccent</string>
		<string>Lcaron</string>
		<string>lcaron</string>
		<string>Lslash</string>
		<string>lslash</string>
		<string>Nacute</string>
		<string>nacute</string>
		<string>Ncommaaccent</string>
		<string>ncommaaccent</string>
		<string>Ncaron</string>
		<string>ncaron</string>
		<string>Omacron</string>
		<string>omacron</string>
		<string>Ohungarumlaut</string>
		<string>ohungarumlaut</string>
		<string>OE</string>
		<string>oe</string>
		<string>Racute</string>
		<string>racute</string>
		<string>Rcommaaccent</string>
		<string>rcommaaccent</string>
		<string>Rcaron</string>
		<string>rcaron</string>
		<string>Sacute</string>
		<string>sacute</string>
		<string>Scaron</string>
		<string>scaron</string>
		<string>Tcaron</string>
		<string>tcaron</string>
		<string>Umacron</string>
		<string>umacron</string>
		<string>Uring</string>
		<string>uring</string>
		<string>Uhungarumlaut</string>
		<string>uhungarumlaut</string>
		<string>Uogonek</string>
		<string>uogonek</string>
		<string>Ydieresis</string>
		<string>Zacute</string>
		<string>zacute</string>
		<string>Zdotaccent</string>
		<string>zdotaccent</string>
		<string>Zcaron</string>
		<string>zcaron</string>
		<string>florin</string>
		<string>uni021A</string>
		<string>uni021B</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>uni02C9</string>
		<string>breve</string>
		<string>dotaccent</string>
		<string>ring</string>
		<string>ogonek</string>
		<string>tilde</string>
		<string>hungarumlaut</string>
		<string>pi</string>
		<string>endash</string>
		<string>emdash</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quotedblbase</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>bullet</string>
		<string>ellipsis</string>
		<string>perthousand</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>fraction</string>
		<string>Euro</string>
		<string>uni20BA</string>
		<string>uni20BD</string>
		<string>trademark</string>
		<string>estimated</string>
		<string>partialdiff</string>
		<string>product</string>
		<string>summation</string>
		<string>minus</string>
		<string>radical</string>
		<string>infinity</string>
		<string>integral</string>
		<string>approxequal</string>
		<string>notequal</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>lozenge</string>
		<string>nonbreakingspace</string>
		<string>afii00208</string>
	</array>
</dict>
</plist>
