<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-68</integer>
		<key>@MMK_R_Y</key>
		<integer>-93</integer>
		<key>@MMK_R_t</key>
		<integer>-15</integer>
		<key>V</key>
		<integer>-48</integer>
		<key>W</key>
		<integer>-27</integer>
		<key>question</key>
		<integer>-72</integer>
		<key>w</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-26</integer>
		<key>braceright</key>
		<integer>-15</integer>
		<key>bracketright</key>
		<integer>-11</integer>
		<key>parenright</key>
		<integer>-23</integer>
	</dict>
	<key>@MMK_L_D</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-19</integer>
		<key>@MMK_R_T</key>
		<integer>-24</integer>
		<key>@MMK_R_Y</key>
		<integer>-39</integer>
		<key>@MMK_R_Z</key>
		<integer>-21</integer>
		<key>V</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-109</integer>
	</dict>
	<key>@MMK_L_E</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>18</integer>
		<key>@MMK_R_c</key>
		<integer>-17</integer>
		<key>@MMK_R_o</key>
		<integer>-17</integer>
		<key>@MMK_R_u</key>
		<integer>-15</integer>
		<key>f</key>
		<integer>-16</integer>
		<key>v</key>
		<integer>-23</integer>
		<key>w</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-28</integer>
		<key>@MMK_R_c</key>
		<integer>-23</integer>
		<key>@MMK_R_o</key>
		<integer>-24</integer>
		<key>@MMK_R_u</key>
		<integer>-21</integer>
		<key>hyphen</key>
		<integer>-146</integer>
		<key>v</key>
		<integer>-36</integer>
		<key>w</key>
		<integer>-57</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>17</integer>
		<key>@MMK_R_O</key>
		<integer>-23</integer>
		<key>@MMK_R_T</key>
		<integer>-185</integer>
		<key>@MMK_R_U</key>
		<integer>-22</integer>
		<key>@MMK_R_Y</key>
		<integer>-250</integer>
		<key>@MMK_R_u</key>
		<integer>-13</integer>
		<key>V</key>
		<integer>-185</integer>
		<key>W</key>
		<integer>-84</integer>
		<key>quotedbl</key>
		<integer>-230</integer>
		<key>v</key>
		<integer>-111</integer>
		<key>w</key>
		<integer>-47</integer>
	</dict>
	<key>@MMK_L_L_C</key>
	<dict>
		<key>@MMK_R_R_Ca</key>
		<integer>-120</integer>
		<key>@MMK_R_R_Cha</key>
		<integer>-60</integer>
		<key>@MMK_R_R_Da</key>
		<integer>10</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>10</integer>
		<key>@MMK_R_R_Ha</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>35</integer>
		<key>@MMK_R_R_La</key>
		<integer>30</integer>
		<key>@MMK_R_R_Pa</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_L_Da</key>
	<dict>
		<key>@MMK_R_R_A</key>
		<integer>10</integer>
		<key>@MMK_R_R_DaBha</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>20</integer>
		<key>@MMK_R_R_TaRa</key>
		<integer>10</integer>
		<key>@MMK_R_R_U</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_L_Gh</key>
	<dict>
		<key>@MMK_R_R_Ca</key>
		<integer>-90</integer>
		<key>@MMK_R_R_Cha</key>
		<integer>-40</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>-60</integer>
		<key>@MMK_R_R_Ha</key>
		<integer>-10</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>35</integer>
		<key>@MMK_R_R_La</key>
		<integer>25</integer>
		<key>@MMK_R_R_Pa</key>
		<integer>-25</integer>
		<key>@MMK_R_R_Sha</key>
		<integer>-64</integer>
	</dict>
	<key>@MMK_L_L_Jh</key>
	<dict>
		<key>@MMK_R_R_Ca</key>
		<integer>-90</integer>
		<key>@MMK_R_R_Cha</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Da</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ha</key>
		<integer>-60</integer>
		<key>@MMK_R_R_I</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>30</integer>
		<key>@MMK_R_R_La</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ta</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_L_Ka</key>
	<dict>
		<key>@MMK_R_R_Da</key>
		<integer>30</integer>
		<key>@MMK_R_R_DaBha</key>
		<integer>20</integer>
		<key>@MMK_R_R_Ha</key>
		<integer>10</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>30</integer>
		<key>@MMK_R_R_KaSsa</key>
		<integer>20</integer>
		<key>@MMK_R_R_La</key>
		<integer>20</integer>
		<key>@MMK_R_R_Ma</key>
		<integer>30</integer>
		<key>@MMK_R_R_Na</key>
		<integer>20</integer>
		<key>@MMK_R_R_Nna</key>
		<integer>-10</integer>
		<key>@MMK_R_R_Nya</key>
		<integer>25</integer>
		<key>@MMK_R_R_Pa</key>
		<integer>-30</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>30</integer>
		<key>@MMK_R_R_ShaRa</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ta</key>
		<integer>10</integer>
		<key>@MMK_R_R_Va</key>
		<integer>25</integer>
		<key>@MMK_R_R_Ya</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_L_KaSh</key>
	<dict>
		<key>@MMK_R_R_Dda</key>
		<integer>25</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>20</integer>
		<key>@MMK_R_R_Ma</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_L_Kh</key>
	<dict>
		<key>@MMK_R_R_Ca</key>
		<integer>30</integer>
		<key>@MMK_R_R_Da</key>
		<integer>20</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>20</integer>
		<key>@MMK_R_R_Ga</key>
		<integer>20</integer>
		<key>@MMK_R_R_Ha</key>
		<integer>10</integer>
		<key>@MMK_R_R_I</key>
		<integer>5</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>25</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>30</integer>
		<key>@MMK_R_R_La</key>
		<integer>40</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>5</integer>
		<key>@MMK_R_R_Ta</key>
		<integer>50</integer>
		<key>@MMK_R_R_Va</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_L_L</key>
	<dict>
		<key>@MMK_R_R_Ca</key>
		<integer>30</integer>
		<key>@MMK_R_R_Cha</key>
		<integer>-50</integer>
		<key>@MMK_R_R_Da</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Ga</key>
		<integer>-50</integer>
		<key>@MMK_R_R_Ma</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Pa</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>25</integer>
		<key>@MMK_R_R_Ta</key>
		<integer>-73</integer>
		<key>@MMK_R_R_Va</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_L_M</key>
	<dict>
		<key>@MMK_R_R_Ca</key>
		<integer>-115</integer>
		<key>@MMK_R_R_Cha</key>
		<integer>-85</integer>
		<key>@MMK_R_R_Da</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>-25</integer>
		<key>@MMK_R_R_Ga</key>
		<integer>-50</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>-60</integer>
		<key>@MMK_R_R_Ha</key>
		<integer>-60</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>23</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ma</key>
		<integer>-100</integer>
		<key>@MMK_R_R_Nna</key>
		<integer>-40</integer>
		<key>@MMK_R_R_Pa</key>
		<integer>-30</integer>
		<key>@MMK_R_R_Sha</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Ya</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_L_N</key>
	<dict>
		<key>@MMK_R_R_Ca</key>
		<integer>-50</integer>
		<key>@MMK_R_R_Cha</key>
		<integer>-80</integer>
		<key>@MMK_R_R_Da</key>
		<integer>9</integer>
		<key>@MMK_R_R_Ga</key>
		<integer>-10</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>-50</integer>
		<key>@MMK_R_R_Ha</key>
		<integer>-23</integer>
		<key>@MMK_R_R_I</key>
		<integer>-24</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>30</integer>
		<key>@MMK_R_R_La</key>
		<integer>30</integer>
		<key>@MMK_R_R_Na</key>
		<integer>20</integer>
		<key>@MMK_R_R_Pa</key>
		<integer>-30</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>60</integer>
		<key>@MMK_R_R_Ta</key>
		<integer>7</integer>
		<key>@MMK_R_R_Va</key>
		<integer>20</integer>
		<key>@MMK_R_R_Ya</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_L_Ny</key>
	<dict>
		<key>@MMK_R_R_Ca</key>
		<integer>-120</integer>
		<key>@MMK_R_R_Cha</key>
		<integer>-100</integer>
		<key>@MMK_R_R_Ga</key>
		<integer>-10</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>-40</integer>
		<key>@MMK_R_R_I</key>
		<integer>-7</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>20</integer>
		<key>@MMK_R_R_La</key>
		<integer>18</integer>
		<key>@MMK_R_R_Ma</key>
		<integer>-30</integer>
		<key>@MMK_R_R_Pa</key>
		<integer>-40</integer>
		<key>@MMK_R_R_Sha</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Ta</key>
		<integer>5</integer>
		<key>@MMK_R_R_Ya</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_L_P</key>
	<dict>
		<key>@MMK_R_R_Ca</key>
		<integer>-115</integer>
		<key>@MMK_R_R_Cha</key>
		<integer>-90</integer>
		<key>@MMK_R_R_Da</key>
		<integer>15</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>10</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>-10</integer>
		<key>@MMK_R_R_Ha</key>
		<integer>-23</integer>
		<key>@MMK_R_R_I</key>
		<integer>-15</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>35</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>45</integer>
		<key>@MMK_R_R_La</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ma</key>
		<integer>20</integer>
		<key>@MMK_R_R_Na</key>
		<integer>30</integer>
		<key>@MMK_R_R_Nya</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>40</integer>
		<key>@MMK_R_R_Ta</key>
		<integer>8</integer>
		<key>@MMK_R_R_Va</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ya</key>
		<integer>40</integer>
	</dict>
	<key>@MMK_L_L_Ph</key>
	<dict>
		<key>@MMK_R_R_Ca</key>
		<integer>-50</integer>
		<key>@MMK_R_R_Cha</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Ga</key>
		<integer>-40</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>30</integer>
		<key>@MMK_R_R_La</key>
		<integer>20</integer>
		<key>@MMK_R_R_Pa</key>
		<integer>-10</integer>
		<key>@MMK_R_R_Va</key>
		<integer>35</integer>
	</dict>
	<key>@MMK_L_L_S</key>
	<dict>
		<key>@MMK_R_R_Ca</key>
		<integer>-115</integer>
		<key>@MMK_R_R_Cha</key>
		<integer>-45</integer>
		<key>@MMK_R_R_Da</key>
		<integer>-5</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>-41</integer>
		<key>@MMK_R_R_Ga</key>
		<integer>-10</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>-50</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>25</integer>
		<key>@MMK_R_R_Ma</key>
		<integer>-60</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>-40</integer>
		<key>@MMK_R_R_Ta</key>
		<integer>-5</integer>
		<key>@MMK_R_R_Ya</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_L_T</key>
	<dict>
		<key>@MMK_R_R_Ca</key>
		<integer>-50</integer>
		<key>@MMK_R_R_Cha</key>
		<integer>-80</integer>
		<key>@MMK_R_R_Da</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>-10</integer>
		<key>@MMK_R_R_Ga</key>
		<integer>-30</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>-55</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>-130</integer>
		<key>@MMK_R_R_Ma</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Nna</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Pa</key>
		<integer>-40</integer>
		<key>@MMK_R_R_Ta</key>
		<integer>-50</integer>
		<key>@MMK_R_R_Ya</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_L_V</key>
	<dict>
		<key>@MMK_R_R_Ca</key>
		<integer>20</integer>
		<key>@MMK_R_R_Da</key>
		<integer>50</integer>
		<key>@MMK_R_R_Ha</key>
		<integer>20</integer>
		<key>@MMK_R_R_I</key>
		<integer>10</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>35</integer>
		<key>@MMK_R_R_La</key>
		<integer>35</integer>
		<key>@MMK_R_R_Ma</key>
		<integer>30</integer>
		<key>@MMK_R_R_Na</key>
		<integer>30</integer>
		<key>@MMK_R_R_Pa</key>
		<integer>-30</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>30</integer>
		<key>@MMK_R_R_Sha</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ta</key>
		<integer>20</integer>
		<key>@MMK_R_R_Va</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ya</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_L_Y</key>
	<dict>
		<key>@MMK_R_R_Ca</key>
		<integer>-105</integer>
		<key>@MMK_R_R_Cha</key>
		<integer>-75</integer>
		<key>@MMK_R_R_Da</key>
		<integer>-2</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Ga</key>
		<integer>-10</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>-70</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>40</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>35</integer>
		<key>@MMK_R_R_La</key>
		<integer>5</integer>
		<key>@MMK_R_R_Sha</key>
		<integer>-1</integer>
		<key>@MMK_R_R_Ta</key>
		<integer>-7</integer>
		<key>@MMK_R_R_Va</key>
		<integer>10</integer>
		<key>@MMK_R_R_Ya</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_L_comma</key>
	<dict>
		<key>eightdeva</key>
		<integer>-90</integer>
		<key>fivedeva</key>
		<integer>-270</integer>
		<key>fourdeva</key>
		<integer>-180</integer>
		<key>ninedeva</key>
		<integer>-310</integer>
		<key>onedeva</key>
		<integer>-170</integer>
		<key>quotedblright</key>
		<integer>-100</integer>
		<key>sevendeva</key>
		<integer>-200</integer>
		<key>sixdeva</key>
		<integer>-200</integer>
		<key>threedeva</key>
		<integer>-50</integer>
		<key>twodeva</key>
		<integer>-190</integer>
		<key>zerodeva</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_L_quoteleft</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-108</integer>
		<key>@MMK_R_R_A</key>
		<integer>-136</integer>
		<key>@MMK_R_R_KaSsa</key>
		<integer>-186</integer>
		<key>@MMK_R_R_Sha</key>
		<integer>-136</integer>
		<key>@MMK_R_R_ShaRa</key>
		<integer>-146</integer>
		<key>@MMK_R_a</key>
		<integer>-45</integer>
		<key>@MMK_R_c</key>
		<integer>-53</integer>
		<key>@MMK_R_o</key>
		<integer>-81</integer>
		<key>@MMK_R_s</key>
		<integer>-82</integer>
		<key>w</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-45</integer>
		<key>@MMK_R_Y</key>
		<integer>-43</integer>
		<key>V</key>
		<integer>-17</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-97</integer>
		<key>@MMK_R_O</key>
		<integer>-25</integer>
		<key>@MMK_R_S</key>
		<integer>-14</integer>
		<key>@MMK_R_T</key>
		<integer>14</integer>
		<key>@MMK_R_Y</key>
		<integer>14</integer>
		<key>@MMK_R_a</key>
		<integer>-75</integer>
		<key>@MMK_R_c</key>
		<integer>-80</integer>
		<key>@MMK_R_o</key>
		<integer>-71</integer>
		<key>@MMK_R_s</key>
		<integer>-68</integer>
		<key>@MMK_R_u</key>
		<integer>-59</integer>
		<key>@MMK_R_z</key>
		<integer>-54</integer>
		<key>V</key>
		<integer>14</integer>
		<key>W</key>
		<integer>13</integer>
		<key>comma</key>
		<integer>-231</integer>
		<key>hyphen</key>
		<integer>-244</integer>
		<key>m</key>
		<integer>-80</integer>
		<key>r</key>
		<integer>-59</integer>
		<key>v</key>
		<integer>-73</integer>
		<key>w</key>
		<integer>-42</integer>
		<key>x</key>
		<integer>-69</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-133</integer>
		<key>@MMK_R_O</key>
		<integer>-26</integer>
		<key>@MMK_R_S</key>
		<integer>-14</integer>
		<key>@MMK_R_T</key>
		<integer>15</integer>
		<key>@MMK_R_U</key>
		<integer>-86</integer>
		<key>@MMK_R_Y</key>
		<integer>16</integer>
		<key>@MMK_R_a</key>
		<integer>-57</integer>
		<key>@MMK_R_c</key>
		<integer>-59</integer>
		<key>@MMK_R_o</key>
		<integer>-59</integer>
		<key>@MMK_R_s</key>
		<integer>-52</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-35</integer>
		<key>@MMK_R_z</key>
		<integer>-27</integer>
		<key>J</key>
		<integer>-86</integer>
		<key>V</key>
		<integer>16</integer>
		<key>W</key>
		<integer>15</integer>
		<key>X</key>
		<integer>12</integer>
		<key>ampersand</key>
		<integer>-27</integer>
		<key>asterisk</key>
		<integer>-44</integer>
		<key>braceright</key>
		<integer>17</integer>
		<key>bracketright</key>
		<integer>16</integer>
		<key>bullet</key>
		<integer>-41</integer>
		<key>comma</key>
		<integer>-207</integer>
		<key>f</key>
		<integer>-20</integer>
		<key>hyphen</key>
		<integer>-135</integer>
		<key>m</key>
		<integer>-36</integer>
		<key>parenright</key>
		<integer>18</integer>
		<key>r</key>
		<integer>-36</integer>
		<key>v</key>
		<integer>-18</integer>
		<key>x</key>
		<integer>-21</integer>
	</dict>
	<key>@MMK_L_Z</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>12</integer>
		<key>@MMK_R_O</key>
		<integer>-23</integer>
		<key>@MMK_R_c</key>
		<integer>-19</integer>
		<key>@MMK_R_o</key>
		<integer>-19</integer>
		<key>@MMK_R_u</key>
		<integer>-17</integer>
		<key>v</key>
		<integer>-24</integer>
		<key>w</key>
		<integer>-24</integer>
	</dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>quotedbl</key>
		<integer>-15</integer>
		<key>v</key>
		<integer>-14</integer>
	</dict>
	<key>@MMK_L_c</key>
	<dict>
		<key>quotedbl</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_e</key>
	<dict>
		<key>quotedbl</key>
		<integer>-13</integer>
		<key>v</key>
		<integer>-12</integer>
	</dict>
	<key>@MMK_L_k</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>-18</integer>
		<key>@MMK_R_d</key>
		<integer>-18</integer>
		<key>@MMK_R_e</key>
		<integer>-18</integer>
		<key>@MMK_R_g</key>
		<integer>-18</integer>
		<key>q</key>
		<integer>-18</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_z</key>
		<integer>-14</integer>
		<key>quotedbl</key>
		<integer>-18</integer>
		<key>v</key>
		<integer>-14</integer>
		<key>x</key>
		<integer>-19</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>-17</integer>
		<key>@MMK_R_o</key>
		<integer>-18</integer>
		<key>@MMK_R_t</key>
		<integer>15</integer>
		<key>comma</key>
		<integer>-155</integer>
		<key>f</key>
		<integer>13</integer>
		<key>quotedbl</key>
		<integer>14</integer>
		<key>v</key>
		<integer>16</integer>
		<key>w</key>
		<integer>15</integer>
	</dict>
	<key>@MMK_L_y</key>
	<dict>
		<key>f</key>
		<integer>12</integer>
	</dict>
	<key>@MMK_L_z</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>-14</integer>
		<key>@MMK_R_o</key>
		<integer>-14</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-24</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>V</key>
		<integer>-22</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-53</integer>
		<key>@MMK_R_T</key>
		<integer>18</integer>
		<key>@MMK_R_a</key>
		<integer>-31</integer>
		<key>@MMK_R_c</key>
		<integer>-19</integer>
		<key>@MMK_R_d</key>
		<integer>-19</integer>
		<key>@MMK_R_e</key>
		<integer>-19</integer>
		<key>@MMK_R_g</key>
		<integer>-19</integer>
		<key>@MMK_R_o</key>
		<integer>-19</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-22</integer>
		<key>colon</key>
		<integer>-246</integer>
		<key>comma</key>
		<integer>-246</integer>
		<key>ellipsis</key>
		<integer>-246</integer>
		<key>period</key>
		<integer>-246</integer>
		<key>q</key>
		<integer>-19</integer>
		<key>r</key>
		<integer>-23</integer>
		<key>v</key>
		<integer>-22</integer>
	</dict>
	<key>H</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>16</integer>
		<key>@MMK_R_T</key>
		<integer>-26</integer>
		<key>@MMK_R_Y</key>
		<integer>-25</integer>
		<key>X</key>
		<integer>15</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-159</integer>
		<key>@MMK_R_Z</key>
		<integer>-32</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_c</key>
		<integer>-12</integer>
		<key>@MMK_R_o</key>
		<integer>-12</integer>
		<key>@MMK_R_t</key>
		<integer>13</integer>
		<key>X</key>
		<integer>-45</integer>
		<key>comma</key>
		<integer>-362</integer>
		<key>v</key>
		<integer>13</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-32</integer>
		<key>V</key>
		<integer>-25</integer>
		<key>W</key>
		<integer>-18</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-68</integer>
		<key>@MMK_R_O</key>
		<integer>-8</integer>
		<key>@MMK_R_a</key>
		<integer>-41</integer>
		<key>@MMK_R_c</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-41</integer>
		<key>@MMK_R_u</key>
		<integer>-25</integer>
		<key>C</key>
		<integer>-12</integer>
		<key>braceright</key>
		<integer>17</integer>
		<key>bracketright</key>
		<integer>15</integer>
		<key>comma</key>
		<integer>-194</integer>
		<key>hyphen</key>
		<integer>-139</integer>
		<key>parenright</key>
		<integer>18</integer>
		<key>r</key>
		<integer>-27</integer>
		<key>v</key>
		<integer>-10</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-39</integer>
		<key>@MMK_R_T</key>
		<integer>13</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_c</key>
		<integer>-28</integer>
		<key>@MMK_R_o</key>
		<integer>-28</integer>
		<key>@MMK_R_u</key>
		<integer>-17</integer>
		<key>braceright</key>
		<integer>13</integer>
		<key>bracketright</key>
		<integer>11</integer>
		<key>comma</key>
		<integer>-128</integer>
		<key>hyphen</key>
		<integer>-54</integer>
		<key>parenright</key>
		<integer>13</integer>
		<key>r</key>
		<integer>-19</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-23</integer>
		<key>@MMK_R_c</key>
		<integer>-23</integer>
		<key>@MMK_R_o</key>
		<integer>-19</integer>
		<key>@MMK_R_u</key>
		<integer>-19</integer>
		<key>V</key>
		<integer>13</integer>
		<key>hyphen</key>
		<integer>-138</integer>
		<key>v</key>
		<integer>-28</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>@MMK_R_z</key>
		<integer>-14</integer>
		<key>quotedbl</key>
		<integer>-26</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-14</integer>
	</dict>
	<key>braceleft</key>
	<dict>
		<key>@MMK_R_U</key>
		<integer>-18</integer>
		<key>J</key>
		<integer>-18</integer>
	</dict>
	<key>bracketleft</key>
	<dict>
		<key>@MMK_R_U</key>
		<integer>-16</integer>
		<key>J</key>
		<integer>-16</integer>
	</dict>
	<key>chadeva</key>
	<dict>
		<key>@MMK_R_R_Ca</key>
		<integer>40</integer>
		<key>@MMK_R_R_DaBha</key>
		<integer>20</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>10</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>30</integer>
		<key>@MMK_R_R_KaSsa</key>
		<integer>30</integer>
		<key>@MMK_R_R_La</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ma</key>
		<integer>20</integer>
		<key>@MMK_R_R_Na</key>
		<integer>10</integer>
		<key>@MMK_R_R_Nya</key>
		<integer>10</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>50</integer>
		<key>@MMK_R_R_Sha</key>
		<integer>40</integer>
		<key>@MMK_R_R_ShaRa</key>
		<integer>40</integer>
		<key>@MMK_R_R_Va</key>
		<integer>30</integer>
	</dict>
	<key>comma</key>
	<dict>
		<key>quotedbl</key>
		<integer>-254</integer>
	</dict>
	<key>ddadeva</key>
	<dict>
		<key>@MMK_R_R_Na</key>
		<integer>-30</integer>
	</dict>
	<key>eightdeva</key>
	<dict>
		<key>period</key>
		<integer>-30</integer>
	</dict>
	<key>eightdevaNEP</key>
	<dict>
		<key>onedevaNEP</key>
		<integer>38</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>-22</integer>
		<key>@MMK_R_d</key>
		<integer>-22</integer>
		<key>@MMK_R_e</key>
		<integer>-22</integer>
		<key>@MMK_R_g</key>
		<integer>-22</integer>
		<key>braceright</key>
		<integer>17</integer>
		<key>bracketright</key>
		<integer>16</integer>
		<key>parenright</key>
		<integer>18</integer>
		<key>q</key>
		<integer>-22</integer>
		<key>quotedbl</key>
		<integer>14</integer>
		<key>quotedblleft</key>
		<integer>14</integer>
		<key>quotedblright</key>
		<integer>14</integer>
		<key>quoteleft</key>
		<integer>14</integer>
		<key>quoteright</key>
		<integer>14</integer>
		<key>quotesingle</key>
		<integer>14</integer>
	</dict>
	<key>fivedeva</key>
	<dict>
		<key>period</key>
		<integer>110</integer>
	</dict>
	<key>fivedevaNEP</key>
	<dict>
		<key>onedevaNEP</key>
		<integer>35</integer>
	</dict>
	<key>fourdeva</key>
	<dict>
		<key>period</key>
		<integer>-180</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>quotedbl</key>
		<integer>-14</integer>
	</dict>
	<key>hadeva</key>
	<dict>
		<key>@MMK_R_R_DaBha</key>
		<integer>30</integer>
	</dict>
	<key>haprehalfdeva</key>
	<dict>
		<key>@MMK_R_R_Ca</key>
		<integer>-90</integer>
		<key>@MMK_R_R_Cha</key>
		<integer>-40</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>-60</integer>
		<key>@MMK_R_R_Ga</key>
		<integer>-25</integer>
		<key>@MMK_R_R_Ha</key>
		<integer>-80</integer>
		<key>@MMK_R_R_I</key>
		<integer>-10</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>28</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>20</integer>
		<key>@MMK_R_R_Nna</key>
		<integer>-40</integer>
		<key>@MMK_R_R_Nya</key>
		<integer>15</integer>
		<key>@MMK_R_R_Pa</key>
		<integer>-50</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>-20</integer>
	</dict>
	<key>ladevaMAR</key>
	<dict>
		<key>@MMK_R_R_A</key>
		<integer>10</integer>
		<key>@MMK_R_R_Ca</key>
		<integer>20</integer>
		<key>@MMK_R_R_Cha</key>
		<integer>10</integer>
		<key>@MMK_R_R_Da</key>
		<integer>40</integer>
		<key>@MMK_R_R_DaBha</key>
		<integer>40</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>20</integer>
		<key>@MMK_R_R_Ha</key>
		<integer>30</integer>
		<key>@MMK_R_R_I</key>
		<integer>20</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>20</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>40</integer>
		<key>@MMK_R_R_KaSsa</key>
		<integer>20</integer>
		<key>@MMK_R_R_La</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ma</key>
		<integer>30</integer>
		<key>@MMK_R_R_Na</key>
		<integer>20</integer>
		<key>@MMK_R_R_Nna</key>
		<integer>30</integer>
		<key>@MMK_R_R_Nya</key>
		<integer>40</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ta</key>
		<integer>30</integer>
		<key>@MMK_R_R_U</key>
		<integer>10</integer>
		<key>@MMK_R_R_Va</key>
		<integer>30</integer>
	</dict>
	<key>lladeva</key>
	<dict>
		<key>@MMK_R_R_Da</key>
		<integer>20</integer>
		<key>@MMK_R_R_DaBha</key>
		<integer>20</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>20</integer>
		<key>@MMK_R_R_E</key>
		<integer>20</integer>
		<key>@MMK_R_R_Ga</key>
		<integer>20</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>20</integer>
		<key>@MMK_R_R_Ha</key>
		<integer>20</integer>
		<key>@MMK_R_R_I</key>
		<integer>20</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>20</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>20</integer>
		<key>@MMK_R_R_KaSsa</key>
		<integer>20</integer>
		<key>@MMK_R_R_La</key>
		<integer>20</integer>
		<key>@MMK_R_R_Ma</key>
		<integer>20</integer>
		<key>@MMK_R_R_Nna</key>
		<integer>20</integer>
		<key>@MMK_R_R_Nya</key>
		<integer>20</integer>
		<key>@MMK_R_R_Pa</key>
		<integer>20</integer>
		<key>@MMK_R_R_RMAR</key>
		<integer>20</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>30</integer>
		<key>@MMK_R_R_Sha</key>
		<integer>20</integer>
		<key>@MMK_R_R_ShaRa</key>
		<integer>20</integer>
		<key>@MMK_R_R_Ta</key>
		<integer>20</integer>
		<key>@MMK_R_R_Va</key>
		<integer>20</integer>
		<key>@MMK_R_R_Ya</key>
		<integer>20</integer>
	</dict>
	<key>ngadeva</key>
	<dict>
		<key>@MMK_R_R_Ka</key>
		<integer>20</integer>
	</dict>
	<key>ninedeva</key>
	<dict>
		<key>period</key>
		<integer>30</integer>
	</dict>
	<key>ninedevaNEP</key>
	<dict>
		<key>onedevaNEP</key>
		<integer>38</integer>
	</dict>
	<key>onedeva</key>
	<dict>
		<key>period</key>
		<integer>-30</integer>
	</dict>
	<key>onedevaNEP</key>
	<dict>
		<key>eightdevaNEP</key>
		<integer>31</integer>
		<key>fivedevaNEP</key>
		<integer>38</integer>
		<key>ninedevaNEP</key>
		<integer>31</integer>
	</dict>
	<key>parenleft</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>20</integer>
		<key>V</key>
		<integer>18</integer>
		<key>W</key>
		<integer>33</integer>
	</dict>
	<key>quotedbl</key>
	<dict>
		<key>m</key>
		<integer>-18</integer>
		<key>quotedbl</key>
		<integer>-34</integer>
	</dict>
	<key>quotedblright</key>
	<dict>
		<key>w</key>
		<integer>10</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>w</key>
		<integer>10</integer>
	</dict>
	<key>raudeva</key>
	<dict>
		<key>@MMK_R_R_Ca</key>
		<integer>20</integer>
		<key>@MMK_R_R_DaBha</key>
		<integer>40</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>20</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>40</integer>
		<key>@MMK_R_R_KaSsa</key>
		<integer>20</integer>
		<key>@MMK_R_R_La</key>
		<integer>10</integer>
		<key>@MMK_R_R_Ma</key>
		<integer>20</integer>
		<key>@MMK_R_R_Na</key>
		<integer>30</integer>
		<key>@MMK_R_R_Nya</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>40</integer>
		<key>@MMK_R_R_ShaRa</key>
		<integer>40</integer>
		<key>@MMK_R_R_Ta</key>
		<integer>30</integer>
		<key>@MMK_R_R_TaRa</key>
		<integer>20</integer>
		<key>@MMK_R_R_Va</key>
		<integer>30</integer>
	</dict>
	<key>rauudeva</key>
	<dict>
		<key>@MMK_R_R_DaBha</key>
		<integer>40</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>20</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>20</integer>
		<key>@MMK_R_R_KaSsa</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ma</key>
		<integer>20</integer>
		<key>@MMK_R_R_Na</key>
		<integer>30</integer>
		<key>@MMK_R_R_Pa</key>
		<integer>-20</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>10</integer>
		<key>@MMK_R_R_ShaRa</key>
		<integer>40</integer>
		<key>@MMK_R_R_Ta</key>
		<integer>20</integer>
		<key>@MMK_R_R_Va</key>
		<integer>30</integer>
	</dict>
	<key>sevendeva</key>
	<dict>
		<key>period</key>
		<integer>-150</integer>
	</dict>
	<key>sixdeva</key>
	<dict>
		<key>period</key>
		<integer>120</integer>
	</dict>
	<key>threedeva</key>
	<dict>
		<key>period</key>
		<integer>-100</integer>
	</dict>
	<key>ttadeva</key>
	<dict>
		<key>@MMK_R_R_Ka</key>
		<integer>-30</integer>
	</dict>
	<key>tthadeva</key>
	<dict>
		<key>@MMK_R_R_Ca</key>
		<integer>20</integer>
		<key>@MMK_R_R_Da</key>
		<integer>30</integer>
		<key>@MMK_R_R_DaBha</key>
		<integer>40</integer>
		<key>@MMK_R_R_Dda</key>
		<integer>30</integer>
		<key>@MMK_R_R_Gha</key>
		<integer>-10</integer>
		<key>@MMK_R_R_Ha</key>
		<integer>10</integer>
		<key>@MMK_R_R_I</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ja</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ka</key>
		<integer>40</integer>
		<key>@MMK_R_R_KaSsa</key>
		<integer>20</integer>
		<key>@MMK_R_R_La</key>
		<integer>30</integer>
		<key>@MMK_R_R_Na</key>
		<integer>10</integer>
		<key>@MMK_R_R_Nya</key>
		<integer>30</integer>
		<key>@MMK_R_R_Ra</key>
		<integer>20</integer>
		<key>@MMK_R_R_Sha</key>
		<integer>40</integer>
		<key>@MMK_R_R_ShaRa</key>
		<integer>40</integer>
		<key>@MMK_R_R_Ta</key>
		<integer>30</integer>
		<key>@MMK_R_R_Va</key>
		<integer>20</integer>
	</dict>
	<key>twodeva</key>
	<dict>
		<key>period</key>
		<integer>-80</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-14</integer>
		<key>@MMK_R_c</key>
		<integer>-12</integer>
		<key>@MMK_R_o</key>
		<integer>-14</integer>
		<key>comma</key>
		<integer>-149</integer>
		<key>f</key>
		<integer>12</integer>
		<key>quotedbl</key>
		<integer>13</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>colon</key>
		<integer>-112</integer>
		<key>comma</key>
		<integer>-112</integer>
		<key>ellipsis</key>
		<integer>-112</integer>
		<key>period</key>
		<integer>-112</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>-18</integer>
		<key>@MMK_R_o</key>
		<integer>-35</integer>
	</dict>
	<key>zerodeva</key>
	<dict>
		<key>comma</key>
		<integer>-100</integer>
	</dict>
</dict>
</plist>
